<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md p-0" id="left-nav-bar">
        <%- include('../partials/navbar') %>
      </div>

      <div class="col-md" id="body-main">

        <div id="main-section" class="d-flex flex-column">
          <!-- copy the already designed bootstrap ui from windows pc -->
          <div class="row">
            <div class="col-4 p-4">
              <div class="border border-secondary">
                <div class="p-2">
                  <img class="w-100" src="<%= item.type + item.element.thumb %>" alt="<%=item.element.title%>">
                </div>
                <div class="h2 d-flex justify-content-center text-center"><%= item.element.title %></div>
              </div>
            </div>
            <div class="col-8 p-4 d-flex flex-column justify-content-center">
              <p>Brand: <%= item.element.brand %> </p>
              <p>Product Code: <%= item.element.productCode %></p>
              <p>Available Count: <%= item.element.quantity %>
                <% if (item.element.quantity < 1) { %>
                  <i class="p-2 text-danger bi bi-exclamation-circle-fill"> out of stock</i>
                <% } %>
              </p>
              <p>Power Rating: <%= item.element.powerRating %> W</p>
              <p>Size: <%= item.element.size %></p>
              <p>Market Price: <%= "Rs. " + item.element.price + ".00" %></p>
              
              <p>Description: <br>
                <%= item.element.description %>
              </p>
            </div>
            <!--  -->
          </div>
          <div class="row">
            <div class="col">
              <div class="p-4">
                <div class="h2">
                  Instructions to use/ handle<br>
                </div>
                <div class="p">
<%= item.element.instructions %> 
                </div>
                <!-- <div class="row d-flex justify-content-center">
                  <iframe height="300" src="<%= item.element.instructions %> " allow="picture-in-picture" allowfullscreen></iframe>
                </div> -->
              </div>
            </div>
            <!-- <div class="col-6">
              <div class="p-4">
                <div class="h2">
                  Documentation to use/ handle<br>
                  <%= item.element.documentationLink %>
                </div>
                <div class="row d-flex justify-content-center">
                  <iframe height="300" src="<%= item.element.documentationLink %>" allowfullscreen></iframe>
                </div>
              </div>
            </div> -->
          </div>

        </div>

      </div>
    </div>
  </div>
</body>
<style>
  body {
    position: relative;
  }
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  #main-section {
      height: 100%;
  }
  #body-main {
      margin-left: 10%;
      height: 100vh;
      background-color: rgb(255, 255, 255);
  }
</style>
<script>

</script>

</html>