<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md p-0" id="left-nav-bar">
        <%- include('../partials/navbar') %>
      </div>

      <div class="col-md" id="body-main">

        <div id="main-section" class="d-flex flex-column">
          <!-- copy the already designed bootstrap ui from windows pc -->
          <div class="row">
            <div class="col-4 p-4">
              <div class="border border-secondary">
                <div class="p-2">
                  <img class="w-100" src="https://2e1293630802db8d0d56-50fcdb1c10e3e49a3d1b0541a2f13b69.ssl.cf1.rackcdn.com/product/images/600x600/b24dacc3f62f42f2bf2dc87a6bc6c104.png" alt="">
                </div>
                <div class="h2 d-flex justify-content-center text-center"><%= item.title %></div>
              </div>
            </div>
            <div class="col-8 p-4 d-flex flex-column justify-content-center">
              <p>Brand: <%= item.brand %> </p>
              <p>Product Code: <%= item.productCode %></p>
              <p>Available Count: <%= item.quantity %>
                <% if (!item.isAvailable) { %>
                  <i class="p-2 text-danger bi bi-exclamation-circle-fill"> out of stock</i>
                <% } %>
              </p>
              <p>Power Rating: <%= item.powerRating %></p>
              <p>Size: <%= item.size %></p>
              <p>Market Price: <%= "Rs. " + item.price + ".00" %></p>
              
              <p>Description: <br>
                <%= item.description %>
              </p>
            </div>
            <!--  -->
          </div>
          <div class="row">
            <div class="col-6">
              <div class="p-4">
                <div class="h2">
                  Instructions to use/ handle
                </div>
                <div class="row d-flex justify-content-center">
                  <iframe height="300" src="<%= item.instructions %> " allow="picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="p-4">
                <div class="h2">
                  Documentation to use/ handle
                </div>
                <div class="row d-flex justify-content-center">
                  <iframe height="300" src="<%= item.documentationLink %>" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</body>
<style>
  body {
    position: relative;
  }
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  #main-section {
      height: 100%;
  }
  #body-main {
      margin-left: 10%;
      height: 100vh;
      background-color: rgb(255, 255, 255);
  }
</style>
<script>

</script>

</html>