<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md p-0" id="left-nav-bar">
        <%- include('../partials/navbar') %>
      </div>

      <div class="col-md" id="body-main">

        <div id="main-section" class="">
            <div class="mt-4 search-collection d-flex justify-content-between">
              
              <div class="logo d-flex align-items-center">
                <img height="40px" src="/images/textLogo.png" alt="" srcset="">
              </div>
              <div class="d-flex align-items-center">
                <form name="search-form" class="d-flex justify-content-end" action="/search" method="get">
                  
                  <div class="search-input input-group w-75">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="search-icon"><i class="text-secondary bi bi-search"></i></span>
                    </div>
                    <input name="keyword" type="text" class="form-control use-keyboard-input" id="keyword" placeholder="Search" required>
                  </div>  

                  <div>
                    <button type="submit" class=" round-btn btn btn-light text-secondary" onclick="load()">Search</button>
                  </div>

                </form>
              </div>

            </div>
            <hr>
            <% if (products.length == 0) { %>
              <div class="p-5 d-flex flex-column justify-content-center text-center">
                <div class="p-5 text-center">No related components or equipment found!</div>
                <div><i class="h1 text-center text-secondary bi bi-emoji-neutral"></i></div>
              </div>
            <% } else { %>
              <div class="results d-flex flex-wrap">
                <% products.forEach(product => { %>

                  <div class="card m-2" style="width: 18rem;">
                      <div class="card-body">
                          <h5 class="card-title"><%= product.element.title %></h5>
                          <p class="card-text"><%= product.element.brand %></p>
                          <p class="card-text"><%= product.element.description %></p>
                          <a href="/item?itemId=<%= product.element.id %>" class="btn btn-primary">Look up</a>
                      </div>
                  </div>
                <% }) %>
                  <!-- loop the card -->
              </div>
            <% } %>

        </div>

      </div>
    </div>
  </div>
</body>
<style>
  body {
    position: relative;
  }
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  #main-section {
      height: 100%;
  }
  #body-main {
      margin-left: 10%;
      height: 100vh;
      background-color: rgb(255, 255, 255);
  }
  #search-icon {
    height: 40px;
    padding-left: 15px;
    background-color: white;
    border-radius: 25px 0 0 25px;
    border-right: 0;
  }
  #keyword {
    height: 40px;
    /* background-color: white; */
    border-radius: 0 25px 25px 0;
    border-left: 0;
  }
  .search-input .form-control:focus {
    box-shadow: none;
    border-color: rgb(209, 209, 209);
  }
  .search-input input {
    z-index: 1;
  }
  .round-btn {
    height: 40px;
    margin-left: 5px;
    /* border-radius: 25px 25px 25px 25px; */
  }
  form {
    width: 400px;
  }
</style>
<script>
  
</script>

</html>